html {
	margin: 0;
	padding: 0;
}

body {
    text-align: center;
}

#bodyContent {
    max-width: 35em;
    margin: 0 auto;
}

#searchFaves {
    list-style:none;
}

#searchSubsection {
    margin-top: 3em;
}

#subtitleH2 {
    font-size:  0.8em;
    font-style: italic;
    font-weight: normal;
}

#cutesyFuckingIcon {
    float:left;
    margin-right: 3em;
}
#introText {
    box-sizing: border-box;
    text-align: left;
}

.strikeThru {
    text-decoration: line-through;
}
.clearLeft {
    clear: left
}

.labelAndBox {
    display: inline-block; 
}

.embolden { 
    font-weight: bold; 
}

